@model EmployeeStatusTestMVC.Models.Staff

@{
    ViewBag.Title = "Card";
}

<h2>Card</h2>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InOutStatusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InOutStatusID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelephoneExtension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneExtension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlagDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlagDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StaffID }) |
    @Html.ActionLink("Back to List", "Home")
</p>


