@model EmployeeStatusTestMVC.Models.StaffEmployeeHistory

@{
    ViewBag.Title = "Card";
}

<h2>Card</h2>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.staff.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff.InOutStatusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff.InOutStatusID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff.TelephoneExtension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff.TelephoneExtension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff.FlagDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff.FlagDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff.ManagerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff.ManagerID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.staff.StaffID }) |
    @Html.ActionLink("Back to List", "Home")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeHistory[0].Nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeHistory[0].StatusBeforeChange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeHistory[0].StatusAfterChange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeHistory[0].DateChanged)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeHistory[0].StatusChangedBy)
        </th>
        <th></th>
    </tr>

    @foreach (EmployeeStatusTestMVC.Models.EmployeeHistory item in Model.EmployeeHistory)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusBeforeChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusAfterChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateChanged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusChangedBy)
            </td>
        </tr>
    }

</table>
