@model IEnumerable<EmployeeStatusTestMVC.Models.Staff>

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<p>
    @Html.ActionLink("Export Employee List", "Exported")
    @Html.ActionLink("Report Employee list", "Report")

    @Html.ActionLink("Add", "Add")
    @Html.ActionLink("Refresh", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            Status
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelephoneExtension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlagDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    List<EmployeeStatusTestMVC.Models.InOutStatus> List = EmployeeStatusTestMVC.Models.InOutStatus.GetStatuses();
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nickname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            
            @foreach (EmployeeStatusTestMVC.Models.InOutStatus thing in List)
            {
                if (thing.InOutStatusID == item.InOutStatusID)
                {
                    @Html.DisplayFor(modelThing => thing.Description)
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelephoneExtension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlagDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerID)
        </td>
        <td>
            @Html.ActionLink("Update", "Update", new { id = item.StaffID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.StaffID }) |
            @Html.ActionLink("Employee", "Card", new { id = item.StaffID }) |
            @*@Html.ActionLink("Change Status", "Change", new { id = item.StaffID })*@

            @using (Html.BeginForm("Change", "Home"))
            {
                <input type="hidden" name="id" value="@item.StaffID" />
                List<SelectListItem> selectLists = new List<SelectListItem>();
               

                foreach (EmployeeStatusTestMVC.Models.InOutStatus thing in List)
                {
                    selectLists.Add(new SelectListItem { Text = thing.Description, Value = thing.InOutStatusID.ToString() });
                }

                @Html.DropDownList("Status", selectLists)

                <button>Submit</button>

            }
            | @Html.ActionLink("Report Employee History", "ReportHistories", new { id = item.StaffID })
        </td>
    </tr>
}

</table>
